/* line 4, ../../app/stylesheets/cms.scss */
.content {
  display: none;
}

/* line 7, ../../app/stylesheets/cms.scss */
#editInfo {
  font: bold 1em arial;
  color: #e79605;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* line 16, ../../app/stylesheets/cms.scss */
.editButtons {
  text-decoration: none;
  border: solid 1px #e79605;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: block;
  cursor: hand;
  background-color: #fde5bb;
  font: bold 1em arial;
  float: left;
}
/* line 17, ../../app/stylesheets/cms.scss */
.editButtons:hover {
  color: #835503;
  background-color: #fcd389;
}
/* line 21, ../../app/stylesheets/cms.scss */
.editButtons:active {
  color: #835503;
  background-color: #fcd389;
}
/* line 25, ../../app/stylesheets/cms.scss */
.editButtons:link {
  color: #835503;
  background-color: #fde5bb;
}
/* line 29, ../../app/stylesheets/cms.scss */
.editButtons:visited {
  color: #835503;
}

/* line 52, ../../app/stylesheets/cms.scss */
#showInfo {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* line 60, ../../app/stylesheets/cms.scss */
table.striping {
  cursor: hand;
}
/* line 62, ../../app/stylesheets/cms.scss */
table.striping td {
  border: solid 1px #e79605;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 50px;
  background-color: #fde5bb;
}
/* line 72, ../../app/stylesheets/cms.scss */
table.striping tr.over td {
  background-color: #fbc057;
}
/* line 73, ../../app/stylesheets/cms.scss */
table.striping tr.current td {
  background-color: #fcd389;
}

/* line 75, ../../app/stylesheets/cms.scss */
#editForm {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
/* line 79, ../../app/stylesheets/cms.scss */
#editForm td:nth-child(odd) {
  width: 140px;
}
/* line 80, ../../app/stylesheets/cms.scss */
#editForm td:nth-child(even) {
  width: 100%;
}
/* line 81, ../../app/stylesheets/cms.scss */
#editForm .titleText {
  padding-top: 5px;
  font: bold 1em arial;
  color: #ce8505;
}
/* line 86, ../../app/stylesheets/cms.scss */
#editForm .titleText.area {
  font: bold 1em arial;
  color: #ce8505;
}
/* line 90, ../../app/stylesheets/cms.scss */
#editForm input, #editForm textarea {
  height: 35px;
  width: 100%;
  margin: 5px;
  padding: 0px;
  border: solid 1px #e79605;
}
/* line 97, ../../app/stylesheets/cms.scss */
#editForm #but {
  height: 35px;
  width: 100%;
  margin: 5px;
  padding: 0px;
  border: solid 1px #e79605;
  cursor: hand;
  background-color: #fde5bb;
  font: bold 1em arial;
  color: #b57504;
}
/* line 108, ../../app/stylesheets/cms.scss */
#editForm textarea {
  height: 280px;
}
