/* line 1, ../../app/stylesheets/style.scss */
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* line 2, ../../app/stylesheets/style.scss */
a {
  color: #963;
  border: none;
  cursor: pointer;
}
/* line 4, ../../app/stylesheets/style.scss */
a:hover {
  color: #C60;
  border: none;
}

/* line 7, ../../app/stylesheets/style.scss */
body {
  background: #333333 url("../images/style/newbg.gif") repeat-x;
  color: #333;
  font: normal 62.5% Tahoma, sans-serif;
}

/* line 12, ../../app/stylesheets/style.scss */
p, code, ul {
  padding-bottom: 10px;
}

/* line 13, ../../app/stylesheets/style.scss */
li {
  list-style: none;
}

/* line 14, ../../app/stylesheets/style.scss */
h1 {
  font: normal 1.8em Tahoma,sans-serif;
  margin-bottom: 4px;
}

/* line 18, ../../app/stylesheets/style.scss */
h2 {
  font: normal 1.6em sans-serif;
}

/* line 19, ../../app/stylesheets/style.scss */
h3 {
  font: bold 1.1em sans-serif;
}

/* line 21, ../../app/stylesheets/style.scss */
code {
  background: #FFF;
  border: 1px solid #EEE;
  border-left: 6px solid #C1CAD3;
  color: #666;
  display: block;
  font: normal 1em Tahoma,sans-serif;
  line-height: 1.6em;
  margin: 4px 0 12px;
  padding: 8px 10px;
  white-space: pre;
}

/* line 34, ../../app/stylesheets/style.scss */
blockquote {
  background: url("../images/style/quote.gif") no-repeat;
  display: block;
  font: bold 0.9em Verdana,sans-serif;
  padding-left: 26px;
}

/* line 41, ../../app/stylesheets/style.scss */
big {
  font-size: 1.1em;
}

/* line 43, ../../app/stylesheets/style.scss */
h1, h2, h3 {
  padding-top: 6px;
}

/* line 45, ../../app/stylesheets/style.scss */
label {
  display: block;
  font-size: 0.9em;
}

/* misc */
/* line 51, ../../app/stylesheets/style.scss */
.clearer {
  clear: both;
}

/* line 52, ../../app/stylesheets/style.scss */
.left {
  float: left;
}

/* line 53, ../../app/stylesheets/style.scss */
.right {
  float: right;
}

/* structure */
/* line 56, ../../app/stylesheets/style.scss */
.container {
  background: #FFF;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 0 10px 0px;
  width: 780px;
  border-bottom: 4px solid #FFFFFF;
}

/* header */
/* line 66, ../../app/stylesheets/style.scss */
.top {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0;
}

/* title */
/* line 71, ../../app/stylesheets/style.scss */
.header {
  background: #FFF;
  font-size: 1.2em;
  height: 120px;
  margin: 0 auto;
  padding: 10px 10px 5px;
  width: 780px;
}

/* line 79, ../../app/stylesheets/style.scss */
.header .left, .header .right {
  background: #A4A4A0;
  color: #FFF;
  height: 120px;
}

/* line 84, ../../app/stylesheets/style.scss */
.logo {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  padding-left: 55px;
  font: normal 2.8em "Trebuchet MS",sans-serif;
  margin-top: 20px;
  background-image: url("../images/style/logo.png");
  background-repeat: no-repeat;
  background-position: left;
}

/* line 96, ../../app/stylesheets/style.scss */
.logo a {
  color: #D9D7CA;
  text-decoration: none;
}

/* line 101, ../../app/stylesheets/style.scss */
.logo a:hover {
  color: #D9D7CA;
  text-decoration: none;
}

/* line 106, ../../app/stylesheets/style.scss */
.logo a:visisted {
  color: #D9D7CA;
  text-decoration: none;
}

/* line 110, ../../app/stylesheets/style.scss */
.header .left {
  background: url("../images/style/header2.gif") no-repeat;
  text-align: center;
  width: 780px;
  font: normal 2.8em "Trebuchet MS",sans-serif;
  line-height: 120px;
}

/* line 117, ../../app/stylesheets/style.scss */
.header .right p, .header .right h2 {
  padding: 0 16px;
}

/* line 118, ../../app/stylesheets/style.scss */
.header .right h2 {
  padding-top: 16px;
  font: normal 1.6em "Trebuchet MS",sans-serif;
}

/* navigation */
/* line 121, ../../app/stylesheets/style.scss */
.navigation {
  border: 1px solid #000000;
  border-color: #000000;
  background: black url("../images/style/nav.gif");
  height: 41px;
  margin: 0px;
  paddin-top: 0px;
}
/* line 130, ../../app/stylesheets/style.scss */
.navigation li.page_item a {
  color: #963;
}

/* line 134, ../../app/stylesheets/style.scss */
.navigation a {
  background: black url("../images/style/nav.gif");
  border-right: 1px solid #000000;
  color: #FFFFFF;
  display: block;
  float: left;
  text-decoration: none;
  font: bold 1em sans-serif;
  line-height: 41px;
  padding: 0 20px;
  padding-top: 0px;
}

/* line 147, ../../app/stylesheets/style.scss */
.floater {
  margin-left: -66px;
  background: url("../images/style/floaterbg.gif");
  background-repeat: no-repeat;
  background-position: left;
  height: 70px;
  padding-left: 15px;
  padding-top: 5px;
}

/* line 157, ../../app/stylesheets/style.scss */
.navigation a:hover {
  background-position: left bottom;
  color: #DAD8CC;
}

/* main */
/* line 160, ../../app/stylesheets/style.scss */
.main {
  border-top: 4px solid #FFF;
  background: url("../images/style/bgmain.gif") repeat-y;
}

/* sub navigation */
/* line 166, ../../app/stylesheets/style.scss */
.sidenav {
  float: right;
  width: 210px;
}
/* line 169, ../../app/stylesheets/style.scss */
.sidenav h2 {
  color: #5A5A43;
  font: bold 1em Tahoma,sans-serif;
  line-height: 25px;
  padding-left: 12px;
  display: block;
  background-image: url("../images/style/h2bg.gif");
  background-repeat: no-repeat;
  padding-top: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 180, ../../app/stylesheets/style.scss */
.sidenav ul {
  padding: 0;
  border-top: 1px solid #EAEADA;
}
/* line 181, ../../app/stylesheets/style.scss */
.sidenav li {
  border-bottom: 1px solid #EAEADA;
}
/* line 182, ../../app/stylesheets/style.scss */
.sidenav li a {
  font-size: 1.1em;
  color: #554;
  display: block;
  padding: 8px 0 8px 5%;
  text-decoration: none;
  width: 95%;
}
/* line 183, ../../app/stylesheets/style.scss */
.sidenav li a:hover {
  background: #f0f0eb url("../images/style/sidebarnavbg.gif");
  color: #654;
}

/* content */
/* line 188, ../../app/stylesheets/style.scss */
.content {
  float: left;
  margin: 10px 0;
  padding: 0 16px;
  width: 531px;
}
/* line 193, ../../app/stylesheets/style.scss */
.content .descr {
  color: #664;
  font-size: 0.9em;
  margin-bottom: 6px;
}
/* line 198, ../../app/stylesheets/style.scss */
.content li {
  background: url("../images/style/li.gif") no-repeat 0 30%;
  padding: 1px 0 1px 16px;
}
/* line 202, ../../app/stylesheets/style.scss */
.content p {
  font-family: "Lucida Sans Unicode",sans-serif;
}

/* footer */
/* line 205, ../../app/stylesheets/style.scss */
.footer {
  background: #333333;
  color: #FFF;
  font: bold 0.8em arial;
  padding: 0 16px;
  line-height: 39px;
  height: 39px;
  margin-bottom: 10px;
}
/* line 214, ../../app/stylesheets/style.scss */
.footer a:hover {
  color: #FFF;
}

/* posts */
/* line 220, ../../app/stylesheets/style.scss */
.post h1 a {
  text-decoration: none;
}
/* line 222, ../../app/stylesheets/style.scss */
.post h1 a:hover {
  text-decoration: underline;
}

/* line 226, ../../app/stylesheets/style.scss */
.post {
  margin: 6px 0 2px;
}

/* line 227, ../../app/stylesheets/style.scss */
.post .info {
  padding: 5px;
  border: 1px solid #c2c2c2;
  background: #e8e8e8;
  color: #5c5c5c;
  margin: 2px 0 4px;
  text-align: center;
}

/* line 236, ../../app/stylesheets/style.scss */
.post img {
  border: 4px solid #DDD;
  margin: 4px 0;
}

/* line 237, ../../app/stylesheets/style.scss */
.post a img {
  border: none;
}

/* line 238, ../../app/stylesheets/style.scss */
.post a:hover img {
  border-color: #CCC;
}

/* line 240, ../../app/stylesheets/style.scss */
.info a {
  text-decoration: none;
}

/* line 241, ../../app/stylesheets/style.scss */
.info a:hover {
  text-decoration: underline;
}

/* comments */
/* line 244, ../../app/stylesheets/style.scss */
.content ol li {
  list-style: none;
  background: none;
}

/* line 246, ../../app/stylesheets/style.scss */
#commentlist li {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #700000;
  list-style: none;
}

/* line 252, ../../app/stylesheets/style.scss */
#commentform {
  margin: 1em 0;
  background: #FAFAFA;
  width: 280px;
}

/* line 257, ../../app/stylesheets/style.scss */
.commentmetadata {
  padding: 2px 0 4px;
}

/* line 258, ../../app/stylesheets/style.scss */
.commentmetadata a {
  color: #664;
}

/* line 260, ../../app/stylesheets/style.scss */
textarea.styled {
  width: 500px;
  height: 50px;
}

/* line 261, ../../app/stylesheets/style.scss */
input.styled {
  width: 500px;
}

/* line 263, ../../app/stylesheets/style.scss */
.question {
  width: 500px;
  border-style: solid;
  border-color: #a0a070;
  border-width: 1px;
  border-top-width: 2px;
  border-top-color: #666644;
  border-bottom-width: 2px;
  border-bottom-color: #666644;
}
/* line 279, ../../app/stylesheets/style.scss */
.question .autor {
  background-color: white;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #ddddcc;
}
/* line 280, ../../app/stylesheets/style.scss */
.question .autor span.name {
  padding: 5px;
  font: bold 1.12em sans-serif;
}
/* line 284, ../../app/stylesheets/style.scss */
.question .autor span.date {
  padding: 5px;
  font: italic 1em sans-serif;
}
/* line 295, ../../app/stylesheets/style.scss */
.question .body {
  padding: 5px;
}
/* line 298, ../../app/stylesheets/style.scss */
.question .answer {
  padding: 5px 10px;
  border: 1px solid #E3E4E4;
  background: #F5F5F5;
  color: #555;
  margin: 10px;
}

/* line 307, ../../app/stylesheets/style.scss */
.styled {
  font-size: 1.1em;
  background: #F8F7F6;
  border: 1px solid #D6D3D3;
}

/* line 312, ../../app/stylesheets/style.scss */
.styled:hover {
  background: #FFF;
  border: 1px solid #D6D3D3;
}

/* line 316, ../../app/stylesheets/style.scss */
.styled:focus {
  background: #FFF;
  border: 1px solid #939793;
}

/* line 320, ../../app/stylesheets/style.scss */
#commentform input {
  margin-bottom: 3px;
}

/* line 322, ../../app/stylesheets/style.scss */
a img {
  border: none;
}

/* calendar */
/* line 325, ../../app/stylesheets/style.scss */
#wp-calendar {
  color: #A0A0A0;
}

/* line 327, ../../app/stylesheets/style.scss */
.sidenav table caption {
  border-bottom-color: #000;
}

/* line 329, ../../app/stylesheets/style.scss */
.sidenav table thead tr {
  border-bottom-color: #000;
  color: #A53512;
}

/* line 334, ../../app/stylesheets/style.scss */
.sidenav table th {
  border-bottom-color: #000;
}

/* line 336, ../../app/stylesheets/style.scss */
.sidenav table td#today {
  border-color: #000;
  color: #A53512;
}

/* line 341, ../../app/stylesheets/style.scss */
.sidenav table td a {
  border-bottom-color: #000;
  background-color: #EDF3DE;
}

/* line 346, ../../app/stylesheets/style.scss */
.sidenav table tfoot {
  border-top-color: #000;
}

/* line 348, ../../app/stylesheets/style.scss */
.sidenav table tfoot a {
  background: none;
}

/* calendar
--------------------------------------------------*/
/* line 352, ../../app/stylesheets/style.scss */
#wp-calendar {
  display: inline-table;
  border-collapse: collapse;
  width: 185px;
  margin: 0px 10px 0 10px;
  text-align: center;
}

/* line 360, ../../app/stylesheets/style.scss */
.sidenav table caption {
  margin: -5px 10px 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  letter-spacing: 0.1em;
}

/* line 367, ../../app/stylesheets/style.scss */
.sidenav table thead tr {
  border-bottom: 1px solid;
}

/* line 369, ../../app/stylesheets/style.scss */
.sidenav table th {
  border-bottom: 1px solid;
}

/* line 371, ../../app/stylesheets/style.scss */
.sidenav table td {
  width: 225px;
  /* maximaize width; honestly, I don't know much about tables... */
  padding: 1px;
  font-size: 0.9em;
}

/* line 377, ../../app/stylesheets/style.scss */
.sidenav table td#today {
  padding: 0;
  border: 1px solid;
  font-size: 1em;
  font-weight: bold;
}

/* line 384, ../../app/stylesheets/style.scss */
.sidenav table td a {
  display: block;
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: 1.15em;
}

/* line 391, ../../app/stylesheets/style.scss */
.sidenav table tfoot {
  border-top: 1px solid;
}

/* line 392, ../../app/stylesheets/style.scss */
.sidenav table tfoot a {
  border: none;
  font-weight: bold;
}

/* line 396, ../../app/stylesheets/style.scss */
.sidenav table tfoot #prev a {
  text-align: left;
}

/* line 397, ../../app/stylesheets/style.scss */
.sidenav table tfoot #next a {
  text-align: center;
}

/* line 401, ../../app/stylesheets/style.scss */
#searchform {
  padding: 10px;
}
